.my-swiper .swiper-pagination {
    width:auto!important;
    top: 172px!important;
    left: 40px!important;
  }

  .my-swiper .swiper-pagination-bullet{
    background-color: #8e9deb;
  }
  .my-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #fff!important;
    border-radius:8px!important;
    width:16px!important;
    height:8px!important;
  }
  .my-swiper .swiper-button-prev{
    display:none;
  }

  .my-swiper2 {
  }
  .my-swiper2 .swiper-pagination{
    bottom:4px;
  }